@import url('https://fonts.googleapis.com/css2?family=WindSong&family=Pixelify+Sans:wght@400..700&family=Abril+Fatface&display=swap');

body, html {
    margin: 0;
    padding: 0;
    background-color: #EDF2F7;
    height: 100%; /* Assegura que o body e html ocupem toda a altura da página */
    width: 100%; /* Garante que o body e html ocupem toda a largura da página */
    box-sizing: border-box; /* Inclui padding e border no cálculo da largura/altura */
}

.header {
    font-family: "Oxanium", monospace;
    color: #e0e6ff;
    background-color: #2d326e;
    font-weight: 100;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1%;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%; /* Garante que o header ocupe toda a largura da página */
}

#titulo {
    font-family: "Abril Fatface", serif;
    font-size: x-large;
    color: #e0e6ff;
}

a#saiba_mais {
    font-size: large;
    color: #e0e6ff;
    text-decoration: underline;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; /* Garante que o content-wrapper ocupe toda a largura da página */
}

.main-column {
    text-align: left;
    width: 50%; /* Define a largura da coluna principal */
}

.imagem_home {
    max-width: 100%;
}

.home-text {
    color: #2d326e;
}

#sera {
    font-family: "Abril Fatface", serif;
    font-size: 4rem;
}

#entre {
    font-family: "Oxanium", monospace;
    font-size: 2rem;
}

.forms {
    color: #2B2D42;
    width: 100%; /* Define a largura das formas para ocupar o espaço disponível */
}

.footer {
    font-family: "Abril Fatface", serif;
    color: #2d326e;
    font-size: 1rem;
    background-color: #2d326e; /* Cor de fundo para o footer */
    width: 100%; /* Garante que o footer ocupe toda a largura da página */
    position: fixed; /* Fixa o footer na parte inferior da página */
    bottom: 0; /* Posiciona o footer na parte inferior da página */
    padding: 10px 0; /* Adiciona padding vertical para centralizar o conteúdo */
    text-align: center; /* Centraliza o conteúdo do footer */
    z-index: 1000; /* Mantém o footer acima de outros elementos */
}

@media (max-width: 768px) {
    /* Ajustes gerais para dispositivos menores */
    .header, .footer {
        padding: 10px 5%;
        height: auto;
    }

    .main-column, .forms {
        width: 100%; /* Ajusta a largura das colunas para dispositivos menores */
    }

    .content-wrapper {
        padding-top: 10px;
    }

    .form-input, .form-select {
        width: 100%; /* Ajusta a largura das entradas para ocupar todo o espaço disponível */
    }
}
